// Base
@import "base/normalize";
@import "base/resets";
@import "base/bits";
@import "base/fonts";
@import "base/typography";
@import "base/globals";


// Layout
@import "layout/areas";


// Module
@import "module/animations.scss";
@import "module/buttons.scss";
@import "module/carousel.scss";
@import "module/_owl.carousel.scss";
@import "module/_owl.theme.default.scss";
@import "module/_tb-icon-font.scss";