/* ******************************************
LAYOUT
****************************************** */

// Base Layout Grid
.prop-wrap,
.prop-detail-wrap,
.flyer-wrap,
.agent-wrap,
.footer-wrap {
  padding: 1em;
  @include bp(md) {
    padding: 1em 2.5em;
  }
  @include bp(lg) {
    padding: 1em 4.5em;
  }
  @include bp(xlg) {
    padding: 1em 15em;
  }
}

// Carousel
.slideshow-wrap {
}

// Main Property Info
.prop-wrap {
  background-color: white;
}
.prop-header-wrap {
  padding: 0 0 .5em;
}
.prop-infograph-wrap {
  padding: .5em 0 0;
}
.infograph-size,
.infograph-rooms,
.infograph-bath,
.infograph-price {
  padding: .5em 1em;
}
.infographs-container {
  margin: 0 auto;
  padding: .75em .5em;
  float: left;
  width: 50%;
  @include bp(lg) {
    width: 25%;
  }
}
.infographs {
  margin: 0 auto;
}
.infographs span,
.infographs div {
  display: inline-block;
}
.infographs span {
  padding-right: .25em;
}
.info-price {
  padding-top: .75em;
}

// Secondary Property Info
.prop-detail-wrap {
  background-color: #ddd;
}
.walk-score-wrap {
  padding: 1em 0;
}
.prop-detail-header {
  padding-bottom: .25em;
}
.prop-detail-main {
  @include bp(md) {
    float: left; 
    width: 70%;
    padding-right: 1em;
  }
}
.prop-detail-buttons {
  @include bp(md) {
    float: left;  
    width: 30%;
    margin-top: 1em;
  }
}

// Flyer


// Meet the Agent
.agent-wrap {
  background-color: #ddd;
  ul {
    list-style-type: none;
  }
}
.agent-img {
  width: 12em;
  padding: .5em 0;
  @include bp(md) {
    float: right;
    width: 30%;
    padding: 0;
    margin: 0 .5em;
  }
}
.agent-info-wrap {
  @include bp(md) {
    width: 70%;
    padding-right: 2em;
  }
}
.agent-title {
  padding-bottom: 1em;
}
.agent-secondary-wrap {
  padding: 1em 0;
}
.agent-logo {
  width: 10em;
  padding-bottom: .5em;
}

// Footer
.footer-wrap {
  background-color: $primary-color;
  text-align: right;
}

